<html>
<head>
    <title>This is Exmplae of DOM</title>
</head>

<body>
        <!-- Your css and Js file goes here -->
    <div>
        <p> This text is in the Paragraph</p>
        <h1>This text is in the h1 Tag</h1>
        <h2>This text is in the h2 Tag</h2>
    </div>
</body>


</html>




<h4>Employee Component</h4>
<table>
    <tr>
        <td>Name</td>
        <td>Jayant</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>Male</td>
    </tr>
    <tr>
        <td>Qualification</td>
        <td>MCA</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>35</td>
    </tr>
    <tr>
        <td>Country</td>
        <td>India</td>
    </tr>
</table>